/* Cards Home */
.bodyHome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1.5%;
    max-width: 97%;
}

.cardHome{
    height: 30rem;
    width: 25rem;
    margin: 5px;
}

.cardHome img{
    object-fit: cover;
    max-width:100%;
    height:50%;
}

.cardHome div{
    text-align: center;
}

.cardHome button{
    margin-bottom: 10%;
}

/* Cards detail */

.cardDetail{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.cardDetailComp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCont{
    margin-top: 15px;
}

/* Cards categoría */

.bodyCat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1.5%;
    max-width: 97%;
}
.cardCat{
    height: 30rem;
    width: 25rem;
    margin: 5px;
}

.cardCat img{
    object-fit: cover;
    max-width:100%;
    height:50%;
}

.cardCat div{
    text-align: center;
}

.cardCat button{
    margin-bottom: 10%;
}

/* Form */

.form{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
}

.contact{
    padding: 5%;
    margin-bottom: 5%
}

.col-md-3{
    background: #0c385f;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info h4{
    text-align: center;
}

.col-md-9{
    background: rgba(255, 255, 255, 0.18);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form button{
    margin-top: 10px;
    width: 100px;
}

.buttonsForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Cards carro */

.totalCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
    width: 900px;
}

.totalCart img{
    display: flex;
    justify-content: left;
    object-fit: cover;
    max-width: 200px;
    max-height: 150px;
}

.cardCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
}

.cardCart h3{
    width: 900px;
}

.cardCart div.buttons{
    margin-top: 30px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* Checkout */

.checkout{
    margin: 0 auto;
    margin-top: 5%;
    width: 500px;
    background: rgba(255, 255, 255, 0.18);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.checkout h2{
    text-align: center;
}

.buttonsCheckout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}